/*===========================================================================*/
/*  function  */
/*===========================================================================*/
/*===========================================================================*/
/*  mixin  */
/*===========================================================================*/
/*===========================================================================*/
/*  top-map  */
/*===========================================================================*/
.top-map__inner {
  border: 2px solid #e4e4e4;
  border-radius: 10px;
}
.top-map__content {
  background-color: #f7f7f7;
  width: 63.1034482759%;
}
.top-map-appeal {
  background-color: #fff;
  width: 36.8965517241%;
}