@charset "UTF-8";
/*===========================================================================*/
/*  function  */
/*===========================================================================*/
/*===========================================================================*/
/*  mixin  */
/*===========================================================================*/
/*===========================================================================*/
/*  common  */
/*===========================================================================*/
html {
  font-family: "Noto Sans JP", sans-serif;
  color: #272727;
  font-size: 62.5%;
}

body {
  min-width: 375px;
  font-feature-settings: "palt" on;
}
body.modal-open {
  overflow: hidden;
}

span {
  display: inline-block;
}

picture {
  display: block;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  display: inline-block;
}

.pc-only {
  display: block;
}

.br-pc-only {
  display: inline-block;
}

.sp-only {
  display: none;
}

.br-sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .br-pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .br-sp-only {
    display: inline-block;
  }
}
/*===========================================================================*/
/*  utility  */
/*===========================================================================*/
.font-en {
  font-family: "Inter", sans-serif;
}

/*===========================================================================*/
/*  component, color  */
/*===========================================================================*/
.color-gray {
  color: #a3a3a3;
  transition: all 0.5s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
}

/* layout */
.l-inner {
  margin: 0 auto;
  max-width: 1160px;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 100%;
  }
}
/* wrapper */
.l-wrapper {
  padding-left: clamp(31.5px, 16.0714285714px + 2.0089285714vw, 45px);
  padding-right: clamp(31.5px, 16.0714285714px + 2.0089285714vw, 45px);
}
@media (max-width: 767px) {
  .l-wrapper {
    padding: 0 20px;
  }
}

/*===========================================================================*/
/*  hover */
/*===========================================================================*/
@media screen and (min-width: 768px) {
  .hover-normal {
    transition: opacity 0.5s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
  }
  .hover-normal:hover {
    opacity: 0.7;
  }
}
.hover-border {
  position: relative;
}

.hover-border::before {
  background-color: #121212;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: width 0.9s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
}

.hover-border-white {
  position: relative;
}

.hover-border-white::before {
  background-color: #fff;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: width 0.9s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
}

a:hover .hover-border::before,
a:hover .hover-border-white::before,
.hover-parent:hover .hover-border::before {
  width: 100%;
}

.hover-spin {
  transition: transform 1s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
  transform: rotate(0);
}

a:hover .hover-spin {
  transform: rotate(405deg);
}

.hover-spin-reverse {
  transition: transform 1s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
  transform: rotate(0);
}

a:hover .hover-spin-reverse {
  transform: rotate(315deg);
}

.hover-text {
  position: relative;
  color: #121212;
  line-height: 1.6;
}

.hover-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #70c3eb 0%, #6c77c9 47%, #f69b9d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
}

.hover-text:hover::after {
  clip-path: inset(0);
}

.hover-text-parent:hover .hover-text::after {
  clip-path: inset(0);
}

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

/*===========================================================================*/
/*  header  */
/*===========================================================================*/
.header {
  padding-top: clamp(7px, 7px + 0vw, 7px);
  padding-bottom: clamp(7px, 7px + 0vw, 7px);
  padding-left: clamp(1px, -123.5714285714px + 16.2202380952vw, 110px);
  padding-right: clamp(1px, -123.5714285714px + 16.2202380952vw, 110px);
}
@media (max-width: 767px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__inner {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header__inner {
    max-width: 100%;
  }
}
.header__logo {
  width: clamp(86.1px, 43.9285714286px + 5.4910714286vw, 123px);
}
.header-content__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
}
@media (max-width: 767px) {
  .header-content__wrapper {
    flex-direction: row-reverse;
    gap: 10px;
  }
}
.header-content__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-content__navigation__humberger {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(28px, 14.2857142857px + 1.7857142857vw, 40px);
}
@media (max-width: 767px) {
  .header-content__navigation__humberger {
    display: none;
  }
}
.header-content__navigation__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(15.4px, 7.8571428571px + 0.9821428571vw, 22px);
}
@media (max-width: 767px) {
  .header-content__navigation__menu {
    display: none;
  }
}
.header-content__navigation__item a {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.12px;
  font-size: clamp(12px, 9.7142857143px + 0.2976190476vw, 14px);
}
.header-content__navigation__feature {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.12px;
  font-size: clamp(12px, 9.7142857143px + 0.2976190476vw, 14px);
}
.header-setting {
  display: none;
}
.header-setting.is-login {
  display: block;
}
.header-setting.is-not-login {
  display: block;
}
.header-setting__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(19.6px, 10px + 1.25vw, 28px);
  cursor: pointer;
}
@media (max-width: 767px) {
  .header-setting__menu {
    gap: clamp(16px, 9.4402332362px + 1.749271137vw, 22.8571428571px);
  }
}
.header-setting__menu__link {
  position: relative;
}
.header-setting__menu__link svg,
.header-setting__menu__link span {
  vertical-align: middle;
}
.header-setting__menu__link.icon-arrow-bottom {
  position: relative;
  padding-right: 18px;
}
.header-setting__menu__link.icon-arrow-bottom::before {
  content: "";
  background: url(../../assets/images/common/icon_arrow_bottom-gray.svg) no-repeat center center/contain;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (max-width: 767px) {
  .header-setting__menu__link.icon-arrow-bottom {
    padding-right: 0;
  }
  .header-setting__menu__link.icon-arrow-bottom::before {
    content: none;
  }
}
.header-setting__menu__button {
  font-weight: 500;
  line-height: 1.45;
  color: #a3a3a3;
  transition: all 0.5s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
  font-size: clamp(12px, 9.7142857143px + 0.2976190476vw, 14px);
}
@media (max-width: 767px) {
  .header-setting__menu__button svg {
    width: 20px;
    height: 20px;
  }
  .header-setting__menu__button svg + span {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-setting__menu__button:hover {
    color: #272727;
  }
  .header-setting__menu__button:hover svg {
    transition: fill 0.3s;
  }
}
.header-setting__menu__button.is-open {
  color: #272727;
}
.header-setting__menu__button.is-open svg {
  transition: fill 0.3s;
}
.header-setting__menu__detail {
  padding-top: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
  padding-bottom: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
  padding-right: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
  padding-left: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 1000;
  min-width: 200px;
  border-radius: 15px;
  box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: default;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.header-setting__menu__detail.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (max-width: 767px) {
  .header-setting__menu__detail {
    position: relative;
    padding: 0;
    top: auto;
    left: auto;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    display: none;
  }
  .header-setting__menu__detail.is-active {
    display: block;
  }
}
.header-setting__menu__detail.setting-currency ul {
  gap: 40px;
  row-gap: 16px;
}
@media (max-width: 767px) {
  .header-setting__menu__detail.setting-currency ul {
    gap: 22px;
  }
}
.header-setting__menu__detail.setting-mypage {
  padding: 0;
  min-width: 178px;
}
@media (max-width: 767px) {
  .header-setting__menu__detail.setting-mypage {
    padding: 0;
  }
}
.header-setting__menu__detail.setting-mypage ul {
  gap: 14px;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #eaeaea;
  padding-top: clamp(14px, 7.1428571429px + 0.8928571429vw, 20px);
  padding-bottom: clamp(10.5px, 5.3571428571px + 0.6696428571vw, 15px);
  padding-right: clamp(14px, 7.1428571429px + 0.8928571429vw, 20px);
  padding-left: clamp(14px, 7.1428571429px + 0.8928571429vw, 20px);
}
@media (max-width: 767px) {
  .header-setting__menu__detail.setting-mypage ul {
    gap: 25px;
    padding: 0;
    padding-bottom: 25px;
  }
}
.header-setting__menu__detail.setting-mypage ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.45;
}
.header-setting__menu__detail ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  row-gap: 15px;
}
@media (max-width: 767px) {
  .header-setting__menu__detail ul {
    gap: 26px;
    grid-template-columns: 1fr;
  }
}
.header-setting__menu__detail li {
  cursor: pointer;
}
.header-setting__menu__detail li a {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.45;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  color: #272727;
  transition: all 0.5s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
}
.header-setting__menu__detail li a.is-selected {
  color: #110a95;
}
.header-setting__menu__detail li a.is-selected .color-gray {
  color: #110a95;
}
@media (max-width: 767px) {
  .header-setting__menu__detail li a {
    font-size: 13px;
    font-size: clamp(13px, 11.0867346939px + 0.5102040816vw, 15px);
    gap: 12px;
    line-height: 1;
    position: relative;
  }
  .header-setting__menu__detail li a.is-selected::before {
    content: "";
    width: clamp(16px, 12.1734693878px + 1.0204081633vw, 20px);
    height: clamp(16px, 12.1734693878px + 1.0204081633vw, 20px);
    background: url(../../assets/images/common/icon_check_blue.svg) no-repeat center center/contain;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: absolute;
  }
}
.header-setting__menu__detail li a:hover {
  color: #110a95;
}
.header-setting__menu__detail li a:hover .color-gray {
  color: #110a95;
}
@media (max-width: 767px) {
  .header-setting__menu__detail li svg {
    width: clamp(18px, 13.2168367347px + 1.2755102041vw, 23px);
    height: clamp(18px, 13.2168367347px + 1.2755102041vw, 23px);
  }
}
.header__login a {
  color: #fff;
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.98px;
  padding: 10px 18px 9px 18px;
  border-radius: 10px;
  background: #110a95;
}
.header__logout {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.45;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding-bottom: clamp(10.5px, 5.3571428571px + 0.6696428571vw, 15px);
  padding-top: clamp(10.5px, 5.3571428571px + 0.6696428571vw, 15px);
}
@media (max-width: 767px) {
  .header__logout {
    padding-bottom: clamp(15px, 8.8502186589px + 1.639941691vw, 21.4285714286px);
    padding-top: clamp(30px, 17.7004373178px + 3.2798833819vw, 42.8571428571px);
  }
}
.header__logout:hover {
  color: #110a95;
}
.header__humberger {
  width: 18px;
  height: 16px;
  position: relative;
  display: none;
}
@media (max-width: 767px) {
  .header__humberger {
    display: block;
  }
}
.header__humberger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #272727;
  border-radius: 10px;
  position: absolute;
}
.header__humberger span:nth-of-type(1) {
  top: 0;
}
.header__humberger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header__humberger span:nth-of-type(3) {
  bottom: 0;
}

@media (min-width: 768px) and (max-width: 968px) {
  .header-setting__menu__detail {
    left: calc(50% - 1vw);
  }
}
.global-popup__close {
  display: none;
}

/* PC表示用の上書き */
@media (max-width: 767px) {
  /* グローバルポップアップ */
  .global-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    will-change: transform;
    /* 表示中のポップアップ（SP） */
  }
  .global-popup.is-open {
    transform: translateY(0%);
  }
  .global-popup__inner {
    padding: 67px 20px 25px;
    max-height: 86vh;
    overflow-y: auto;
    position: relative;
  }
  .global-popup__close {
    width: clamp(12px, 9.1301020408px + 0.7653061224vw, 15px);
    height: clamp(12px, 9.1301020408px + 0.7653061224vw, 15px);
    top: 25px;
    left: 20px;
    position: absolute;
    display: block;
  }
  .global-popup__search {
    margin-bottom: 20px;
  }
  .global-popup__search input {
    width: 100%;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1.12px;
    width: 100%;
    background: url(/assets/images/common/icon_pin_blue.svg) no-repeat left center/contain;
    background-color: #fff;
    background-size: clamp(16px, 12.1734693878px + 1.0204081633vw, 20px);
    font-size: clamp(16px, 14.0867346939px + 0.5102040816vw, 18px);
    padding: 15px 0px 14px 25px;
    padding-left: clamp(25px, 20.2168367347px + 1.2755102041vw, 30px);
    border-bottom: 1px solid #dfdfdf;
  }
  /* デフォルトは非表示 */
  .popup-content {
    display: none;
  }
  /* 表示中の中身 */
  .popup-content.is-active {
    display: block;
  }
}
/*===========================================================================*/
/*  footer  */
/*===========================================================================*/
.footer {
  padding-top: clamp(42px, 21.4285714286px + 2.6785714286vw, 60px);
  padding-bottom: clamp(44.8px, 22.8571428571px + 2.8571428571vw, 64px);
  background: #272727;
}
@media (max-width: 767px) {
  .footer {
    padding-top: clamp(42px, 24.7806122449px + 4.5918367347vw, 60px);
    padding-bottom: clamp(42px, 24.7806122449px + 4.5918367347vw, 60px);
    padding-right: clamp(28px, 16.5204081633px + 3.0612244898vw, 40px);
    padding-left: clamp(28px, 16.5204081633px + 3.0612244898vw, 40px);
  }
}
.footer__inner {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .footer__inner {
    max-width: 308px;
  }
}
.footer__logo {
  width: clamp(86.8px, 44.2857142857px + 5.5357142857vw, 124px);
  height: auto;
}
@media (max-width: 767px) {
  .footer__logo {
    width: clamp(133px, 78.4719387755px + 14.5408163265vw, 190px);
  }
}
.footer__box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__box {
    flex-direction: column;
    justify-content: flex-start;
    gap: clamp(28px, 16.5204081633px + 3.0612244898vw, 40px);
  }
}
.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
}
@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    gap: clamp(42px, 24.7806122449px + 4.5918367347vw, 60px);
  }
}
.footer__content--nav li {
  margin-bottom: clamp(9.8px, 5px + 0.625vw, 14px);
}
@media (max-width: 767px) {
  .footer__content--nav li {
    margin-bottom: clamp(21px, 12.3903061224px + 2.2959183673vw, 30px);
  }
}
.footer__content--nav li:last-child {
  margin-bottom: 0;
}
.footer__content--nav .footer__content__link {
  color: #fff;
  font-size: clamp(13px, 10.7142857143px + 0.2976190476vw, 15px);
  line-height: 1.4;
  letter-spacing: 0.028em;
}
@media (max-width: 767px) {
  .footer__content--nav .footer__content__link {
    font-size: clamp(14px, 14px + 0vw, 14px);
  }
}
.footer__content--company__box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
}
@media (max-width: 767px) {
  .footer__content--company__box {
    gap: clamp(29.4px, 15px + 1.875vw, 42px);
  }
}
.footer__content--company p {
  font-size: clamp(13px, 10.7142857143px + 0.2976190476vw, 15px);
  margin-bottom: clamp(10.5px, 5.3571428571px + 0.6696428571vw, 15px);
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #fff;
}
@media (max-width: 767px) {
  .footer__content--company p {
    font-size: clamp(14px, 14px + 0vw, 14px);
    margin-bottom: clamp(21px, 12.3903061224px + 2.2959183673vw, 30px);
  }
}
.footer__content--company li {
  margin-bottom: clamp(7px, 3.5714285714px + 0.4464285714vw, 10px);
}
@media (max-width: 767px) {
  .footer__content--company li {
    margin-bottom: clamp(14px, 8.2602040816px + 1.5306122449vw, 20px);
  }
}
.footer__content--company li:last-child {
  margin-bottom: 0;
}
.footer__content--company .footer__content__link {
  font-size: clamp(12px, 12px + 0vw, 12px);
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #a3a3a3;
}
@media (max-width: 767px) {
  .footer__content--company .footer__content__link {
    font-size: clamp(12px, 12px + 0vw, 12px);
  }
}
.footer__content--payment p {
  font-size: clamp(13px, 10.7142857143px + 0.2976190476vw, 15px);
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: clamp(14px, 7.1428571429px + 0.8928571429vw, 20px);
  color: #fff;
}
@media (max-width: 767px) {
  .footer__content--payment p {
    font-size: clamp(14px, 14px + 0vw, 14px);
    margin-bottom: clamp(22px, 12.9803206997px + 2.4052478134vw, 31.4285714286px);
  }
}
.footer__content--payment ul {
  display: flex;
  align-items: center;
  gap: clamp(7px, 3.5714285714px + 0.4464285714vw, 10px);
}
@media (max-width: 767px) {
  .footer__content--payment ul {
    gap: clamp(14px, 8.2602040816px + 1.5306122449vw, 20px);
  }
}
.footer__content--payment ul li {
  width: clamp(21px, 10.7142857143px + 1.3392857143vw, 30px);
}
@media (max-width: 767px) {
  .footer__content--payment ul li {
    width: clamp(42px, 24.7806122449px + 4.5918367347vw, 60px);
  }
}
.footer__sns ul {
  display: flex;
  align-items: center;
  gap: clamp(14px, 7.1428571429px + 0.8928571429vw, 20px);
  margin-bottom: clamp(12.6px, 6.4285714286px + 0.8035714286vw, 18px);
}
@media (max-width: 767px) {
  .footer__sns ul {
    gap: clamp(28px, 16.5204081633px + 3.0612244898vw, 40px);
    margin-bottom: clamp(28px, 16.5204081633px + 3.0612244898vw, 40px);
    margin-top: clamp(42px, 24.7806122449px + 4.5918367347vw, 60px);
  }
}
.footer__sns p {
  font-weight: 300;
  font-style: Light;
  font-size: clamp(10px, 10px + 0vw, 10px);
  line-height: 1;
  color: #a3a3a3;
}
@media (max-width: 767px) {
  .footer__sns p {
    font-size: clamp(10px, 10px + 0vw, 10px);
  }
}
.footer__sns img {
  width: clamp(12.6px, 6.4285714286px + 0.8035714286vw, 18px);
}
@media (max-width: 767px) {
  .footer__sns img {
    width: clamp(26px, 15.3403790087px + 2.8425655977vw, 37.1428571429px);
  }
}

/*===========================================================================*/
/*  breadcrumb  */
/*===========================================================================*/
.c-breadcrumb {
  padding-top: 4.5rem;
}
.c-breadcrumb__inner > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}
.c-breadcrumb__inner > span a {
  transition: opacity 0.3s ease;
}
.c-breadcrumb__inner > span a:hover {
  opacity: 0.6;
}
.c-breadcrumb__inner > span > span {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.55;
}
.c-breadcrumb__inner > span > span::before {
  background: url("../../assets/images/common/breadcrumb-arrow.svg") no-repeat center center/contain;
  content: "";
  height: 0.6rem;
  left: calc(100% + 5px);
  position: absolute;
  top: 0.7rem;
  width: 0.6rem;
}
.c-breadcrumb__inner > span > span:last-of-type::before {
  display: none;
}
.c-breadcrumb__inner > span > span a {
  color: #8a8a8a;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .c-breadcrumb {
    padding-top: 0;
  }
  .c-breadcrumb__inner > span {
    gap: 1.6rem;
  }
  .c-breadcrumb__inner > span > span {
    font-size: 1rem;
  }
  .c-breadcrumb__inner > span > span::before {
    height: 0.6rem;
    left: calc(100% + 5px);
    top: 0.5rem;
  }
}
/*===========================================================================*/
/*  head  */
/*===========================================================================*/
.c-head {
  color: #272727;
  font-feature-settings: "palt" on;
  font-size: 34px;
  font-size: clamp(28px, 21.1428571429px + 0.8928571429vw, 34px);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.68px;
}
@media (max-width: 767px) {
  .c-head {
    font-size: clamp(20px, 11.3903061224px + 2.2959183673vw, 29px);
    letter-spacing: 0.4px;
  }
}