@use "../foundation/all";

/*===========================================================================*/
/*  footer  */
/*===========================================================================*/
.footer {
  @include all.clamp-pc-auto(padding-top, 60px);
  @include all.clamp-pc-auto(padding-bottom, 64px);
  background: all.$color-black;
  @include all.sp {
    @include all.clamp-sp-auto(padding-top, 42px);
    @include all.clamp-sp-auto(padding-bottom, 42px);
    @include all.clamp-sp-auto(padding-right, 28px);
    @include all.clamp-sp-auto(padding-left, 28px);
  }
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    @include all.sp {
      max-width: 308px;
    }
  }
  &__logo {
    @include all.clamp-pc-auto(width, 124px);
    height: auto;
    @include all.sp {
      @include all.clamp-sp-auto(width, 133px);
    }
  }
  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include all.sp {
      flex-direction: column;
      justify-content: flex-start;
      @include all.clamp-sp-auto(gap, 28px);
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include all.clamp-pc-auto(gap, 30px);
    @include all.sp {
      flex-direction: column;
      @include all.clamp-sp-auto(gap, 42px);
    }
    &--nav {
      li {
        @include all.clamp-pc-auto(margin-bottom, 14px);
        @include all.sp {
          @include all.clamp-sp-auto(margin-bottom, 21px);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .footer__content__link {
        color: all.$color-white;
        @include all.clamp-pc(font-size, 13px, 15px);
        @include all.sp {
          @include all.clamp-sp(font-size, 14px, 14px);
        }
        line-height: 1.4;
        letter-spacing: 0.028em;
      }
    }
    &--company {
      &__box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include all.clamp-pc-auto(gap, 30px);
        @include all.sp {
          @include all.clamp-pc-auto(gap, 42px);
        }
      }
      p {
        @include all.clamp-pc(font-size, 13px, 15px);
        @include all.clamp-pc-auto(margin-bottom, 15px);
        @include all.sp {
          @include all.clamp-sp(font-size, 14px, 14px);
          @include all.clamp-sp-auto(margin-bottom, 21px);
        }
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: all.$color-white;
      }
      li {
        @include all.clamp-pc-auto(margin-bottom, 10px);
        @include all.sp {
          @include all.clamp-sp-auto(margin-bottom, 14px);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .footer__content__link {
        @include all.clamp-pc(font-size, 12px, 12px);
        @include all.sp {
          @include all.clamp-sp(font-size, 12px, 12px);
        }
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: all.$color-dark-gray;
      }
    }
    &--payment {
      p {
        @include all.clamp-pc(font-size, 13px, 15px);
        line-height: 1.4;
        letter-spacing: 0.02em;
        @include all.clamp-pc-auto(margin-bottom, 20px);
        color: all.$color-white;
        @include all.sp {
          @include all.clamp-sp(font-size, 14px, 14px);
          @include all.clamp-sp-auto(margin-bottom, 22px);
        }
      }
      ul {
        display: flex;
        align-items: center;
        @include all.clamp-pc-auto(gap, 10px);
        @include all.sp {
          @include all.clamp-sp-auto(gap, 14px);
        }
        li {
          @include all.clamp-pc-auto(width, 30px);
          @include all.sp {
            @include all.clamp-sp-auto(width, 42px);
          }
        }
      }
    }
  }
  &__sns {
    ul {
      display: flex;
      align-items: center;
      @include all.clamp-pc-auto(gap, 20px);
      @include all.clamp-pc-auto(margin-bottom, 18px);
      @include all.sp {
        @include all.clamp-sp-auto(gap, 28px);
        @include all.clamp-sp-auto(margin-bottom, 28px);
        @include all.clamp-sp-auto(margin-top, 42px);
      }
    }
    p {
      font-weight: 300;
      font-style: Light;
      @include all.clamp-pc(font-size, 10px, 10px);
      line-height: 1;
      color: all.$color-dark-gray;
      @include all.sp {
        @include all.clamp-sp(font-size, 10px, 10px);
      }
    }
    img {
      @include all.clamp-pc-auto(width, 18px);
      @include all.sp {
        @include all.clamp-sp-auto(width, 26px);
      }
    }
  }
}
