@use "../foundation/all";

.footer {
  background: url(../../assets/images/common/footer_bg.png) no-repeat center center/cover;
  padding-top: 6rem;
  padding-bottom: 7.3rem;
  &__inner {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo {
    width: 27.6rem;
    height: 4.6rem;
    margin-bottom: 4rem;
  }
  &__address {
    margin-bottom: 2.1rem;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.39px;
  }
  &__contact {
    display: block;
    border-radius: 0.6rem;
    background: #2c2c2c;
    width: 18.4rem;
    > span {
      color: #fff;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.36px;
      padding-top: 1.2rem;
      padding-bottom: 1.4rem;
      width: 100%;
      span {
        line-height: 1.8;
      }
    }
  }
  &__nav {
    &__inner {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 5rem;
    }
  }
  &__copyright {
    margin-top: 3.8rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.88;
    opacity: 0.3;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex-direction: column;
    &.--business {
      .footer__link {
        span {
          color: #fff;
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 1.8;
          padding-left: 0.5em;
          position: relative;
          &::after {
            content: "-";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  &__link {
    span {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8;
    }
  }
  &__detail {
    display: block;
    margin-bottom: 1.5rem;
    span {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8;
    }
  }
}

@include all.sp {
  .footer {
    padding-top: all.rem(57);
    padding-bottom: all.rem(38);
    background: url(../../assets/images/common/footer_bg_sp.png) no-repeat center center/cover;
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: all.rem(44);
      max-width: 500px;
    }
    &__address {
      text-align: center;
    }
    &__contact {
      margin: 0 auto;
      width: all.rem(210);
    }
    &__nav {
      &__inner {
        gap: all.rem(28);
        align-items: flex-start;
        justify-content: center;
      }
    }
    &__content {
      width: calc(100% * 98 / 275);
    }
    &__business {
      width: calc(100% * 150 / 275);
    }
    &__logo {
      margin-bottom: all.rem(33);
    }
    &__address {
      margin-bottom: all.rem(17);
    }
    &__link {
      span {
        color: #fff;
        font-size: all.rem(12);
        font-weight: 500;
        white-space: nowrap;
      }
    }
    &__copyright {
      margin-top: all.rem(44);
      text-align: center;
    }
    &__detail {
      font-size: all.rem(12);
    }
    &__list {
      &.--business {
        .footer__link {
          span {
            font-size: 1rem;
            padding-left: 0.7em;
            &::after {
              left: 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
