@use "../foundation/all";

/*===========================================================================*/
/*  header  */
/*===========================================================================*/
.header {
  @include all.clamp-pc(padding-top, 7px, 7px);
  @include all.clamp-pc(padding-bottom, 7px, 7px);
  @include all.clamp-pc(padding-left, 1px, 110px);
  @include all.clamp-pc(padding-right, 1px, 110px);
  @include all.sp {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__inner {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include all.sp {
      max-width: 100%;
    }
  }
  &__logo {
    @include all.clamp-pc-auto(width, 123px);
  }
  &-content {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include all.clamp-pc-auto(gap, 30px);
      @include all.sp {
        flex-direction: row-reverse;
        gap: 10px;
      }
    }
    &__navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &__humberger {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include all.clamp-pc-auto(gap, 40px);
        @include all.sp {
          display: none;
        }
      }

      &__menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include all.clamp-pc-auto(gap, 22px);
        @include all.sp {
          display: none;
        }
      }
      &__item {
        a {
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 1.12px;
          @include all.clamp-pc(font-size, 12px, 14px);
        }
      }
      &__feature {
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 1.12px;
        @include all.clamp-pc(font-size, 12px, 14px);
      }
    }
  }
  &-setting {
    display: none;
    &.is-login {
      display: block;
    }
    &.is-not-login {
      display: block;
    }
    &__menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include all.clamp-pc-auto(gap, 28px);
      cursor: pointer;
      @include all.sp {
        @include all.clamp-sp-auto(gap, 16px);
      }
      &__link {
        position: relative;
        svg,
        span {
          vertical-align: middle;
        }
        &.icon-arrow-bottom {
          position: relative;
          padding-right: 18px;
          &::before {
            content: "";
            background: url(../../assets/images/common/icon_arrow_bottom-gray.svg) no-repeat center center/contain;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
          @include all.sp {
            padding-right: 0;
            &::before {
              content: none;
            }
          }
        }
      }
      &__button {
        font-weight: 500;
        line-height: 1.45;
        color: #a3a3a3;
        transition: all 0.5s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
        @include all.clamp-pc(font-size, 12px, 14px);

        @include all.sp {
          svg {
            width: 20px;
            height: 20px;
          }
          svg + span {
            display: none;
          }
        }
        @include all.pc {
          &:hover {
            color: #272727;
            svg {
              transition: fill 0.3s;
            }
          }
        }
        &.is-open {
          color: #272727;
          svg {
            transition: fill 0.3s;
          }
        }
      }
      &__detail {
        @include all.clamp-pc-auto(padding-top, 30px);
        @include all.clamp-pc-auto(padding-bottom, 30px);
        @include all.clamp-pc-auto(padding-right, 30px);
        @include all.clamp-pc-auto(padding-left, 30px);
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        z-index: 1000;
        min-width: 200px;
        border-radius: 15px;
        box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
        cursor: default;

        // アニメーションプロパティ
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        // 表示時
        &.is-active {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        @include all.sp {
          position: relative;
          padding: 0;
          top: auto;
          left: auto;
          transform: none;
          border-radius: 0;
          box-shadow: none;
          display: none;
          &.is-active {
            display: block;
          }
        }

        &.setting-currency {
          ul {
            gap: 40px;
            row-gap: 16px;
            @include all.sp {
              gap: 22px;
            }
          }
        }
        &.setting-mypage {
          padding: 0;
          min-width: 178px;
          @include all.sp {
            padding: 0;
          }
          ul {
            gap: 14px;
            grid-template-columns: 1fr;
            border-bottom: 1px solid #eaeaea;
            @include all.clamp-pc-auto(padding-top, 20px);
            @include all.clamp-pc-auto(padding-bottom, 15px);
            @include all.clamp-pc-auto(padding-right, 20px);
            @include all.clamp-pc-auto(padding-left, 20px);
            @include all.sp {
              gap: 25px;
              padding: 0;
              padding-bottom: 25px;
            }
            li {
              a {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.45;
              }
            }
          }
        }
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 55px;
          row-gap: 15px;
          @include all.sp {
            gap: 26px;
            grid-template-columns: 1fr;
          }
        }
        li {
          cursor: pointer;

          a {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.45;
            display: flex;
            align-items: center;
            gap: 6px;
            white-space: nowrap;
            color: #272727;
            transition: all 0.5s 0s cubic-bezier(0.44, 0.14, 0.09, 1.02);
            &.is-selected {
              color: #110a95;
              .color-gray {
                color: #110a95;
              }
            }
            @include all.sp {
              font-size: 13px;
              @include all.clamp-sp(font-size, 13px, 15px);
              gap: 12px;
              line-height: 1;
              position: relative;
              &.is-selected {
                &::before {
                  content: "";
                  @include all.clamp-sp(width, 16px, 20px);
                  @include all.clamp-sp(height, 16px, 20px);
                  background: url(../../assets/images/common/icon_check_blue.svg) no-repeat center center/contain;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 0;
                  position: absolute;
                }
              }
            }

            &:hover {
              color: #110a95;
              .color-gray {
                color: #110a95;
              }
            }
          }
          @include all.sp {
            svg {
              @include all.clamp-sp(width, 18px, 23px);
              @include all.clamp-sp(height, 18px, 23px);
            }
          }
        }
      }
    }
  }
  &__login {
    a {
      color: #fff;
      text-align: justify;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 0.98px;
      padding: 10px 18px 9px 18px;
      border-radius: 10px;
      background: #110a95;
    }
  }
  &__logout {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    @include all.clamp-pc-auto(padding-bottom, 15px);
    @include all.clamp-pc-auto(padding-top, 15px);
    @include all.sp {
      @include all.clamp-sp-auto(padding-bottom, 15px);
      @include all.clamp-sp-auto(padding-top, 30px);
    }
    &:hover {
      color: #110a95;
    }
  }
  &__humberger {
    width: 18px;
    height: 16px;
    position: relative;
    display: none;
    @include all.sp {
      display: block;
    }
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #272727;
      border-radius: 10px;
      position: absolute;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 968px) {
  .header-setting__menu__detail {
    left: calc(50% - 1vw);
  }
}

.global-popup__close {
  display: none;
}
/* PC表示用の上書き */
@media (max-width: 767px) {
  /* グローバルポップアップ */
  .global-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    will-change: transform;
    /* 表示中のポップアップ（SP） */
    &.is-open {
      transform: translateY(0%);
    }
  }

  .global-popup__inner {
    padding: 67px 20px 25px;
    max-height: 86vh;
    overflow-y: auto;
    position: relative;
  }
  .global-popup__close {
    @include all.clamp-sp(width, 12px, 15px);
    @include all.clamp-sp(height, 12px, 15px);
    top: 25px;
    left: 20px;
    position: absolute;
    display: block;
  }
  .global-popup__search {
    margin-bottom: 20px;
    input {
      width: 100%;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 1.12px;
      width: 100%;
      background: url(/assets/images/common/icon_pin_blue.svg) no-repeat left center / contain;
      background-color: #fff;
      @include all.clamp-sp(background-size, 16px, 20px);
      @include all.clamp-sp(font-size, 16px, 18px);
      padding: 15px 0px 14px 25px;
      @include all.clamp-sp(padding-left, 25px, 30px);
      border-bottom: 1px solid #dfdfdf;
    }
  }

  /* デフォルトは非表示 */
  .popup-content {
    display: none;
  }

  /* 表示中の中身 */
  .popup-content.is-active {
    display: block;
  }
}
