@use "../foundation/all";

/*===========================================================================*/
/*  breadcrumb  */
/*===========================================================================*/
.c-breadcrumb {
  padding-top: 1.5rem;
  @include all.sp {
    display: none;
  }
  ol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    font-size: 1.2rem;
  }

  li {
    display: flex;
    align-items: center;
    & + li {
      &::before {
        content: "";
        left: 0;
        top: 50%;
        width: 1.2rem;
        height: 1.2rem;
        background: url(../../assets/images/common/icon_arrow_right-gray.svg) no-repeat center;
        background-size: contain;
        margin-right: 0.8rem;
      }
    }
  }

  a {
    line-height: 1;
  }

  [aria-current="page"] {
    color: all.$color-gray;
  }
}
